*,
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-form {
  display: flex;
  align-items: center;
  background: rgba(250, 250, 250, 0.9);
  border: 1px solid #e1e1e1;
  padding: 0 20px;
  margin: 20px;
  width: 300px;
}

.title {
  text-align: center;
}

.form-field {
  margin: 20px 0;
}


.centered-form {
  box-shadow: 0px 1px 6px rgb(0 0 0);
}

html,body{
  background: #612f74;
}


#play-game{
  background-color: #612f74;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: monospace;
}
